{
"导出文件夹":"I:\\乐高\\学员上课总结",
"课程标题照片文件夹":"I:\\每周乐高课",
"学员照片文件夹":"I:\\每周乐高课_学员",
"字体文件夹":"C:\\Windows\\Fonts",
"wedo课程表":"I:\\乐高\\图纸\\Wedo课程表.xlsx",
"学员签到表w2":"E:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\5-超智幼儿园\\2020乐高课程签到表（周二）.xlsx",
"学员签到表w6":"E:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\5-超智幼儿园\\2020乐高课程签到表（周六）.xlsx",
"默认字体":"msyh.ttc",
"课程信息表":"E:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\5-超智幼儿园\\课程信息表.xlsx",
"乐高图纸文件夹":"I:\\乐高\\图纸"
}