{
"乐高照片文件夹":"I:\\大智小超学员课程反馈\\机构上传\\$\\每周乐高课",
"乐高学员文件夹":"I:\\大智小超学员课程反馈\\生成报告\\$\\每周乐高课_学员",
"公共图片":"I:\\大智小超\\公共素材\\图片类",
"2019科学课签到表文件夹":"I:\\每周实验课_学员",
"2020乐高课程签到表文件夹":"E:\\WXWork\\1688856932305542\\WeDrive\\大智小超科学实验室\\001-超智幼儿园\\学生信息表",
"科学机器人课程签到表文件夹":"E:\\WXWork\\1688856932305542\\WeDrive\\大智小超科学实验室\\001-超智幼儿园\\学生信息表",
"课程信息表":"E:\\WXWork\\1688856932305542\\WeDrive\\大智小超科学实验室\\2-乐高课程",
"学员签到表文件夹":"E:\\WXWork\\1688856932305542\\WeDrive\\大智小超科学实验室",
"照片总文件夹":"I:\\学期汇总照片",
"照片文件夹":"I:\\学期汇总照片",
"课后照片及反馈文件夹":"E:\\大智小超\\课后照片及反馈"
}