{
    "乐高零件编号":"E:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\2-乐高课程\\乐高零件编号.xlsx",
    "wedo零件编号":"E:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\2-乐高课程\\WeDo\\产品信息\\wedo零件编号.xlsx",
    "图纸文件夹":"i:/乐高/图纸",
    "PPT模板":"i:/乐高/图纸/template.pptx",
    "PPT水印":"i:/乐高/图纸/大智小超水印.png",
    "课程信息表":"E:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\2-乐高课程\\课程信息表.xlsx"
}