{
    "学生信息表文件夹":"D:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\#\\学生信息表",
    "课程反馈文件夹":"D:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\#\\每周课程反馈",
    "学生课堂评分表文件夹":"D:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\#\\学生课堂评分表",
    "SOP文件夹":"D:\\WXWork\\1688852895928129\\WeDrive\\大智小超科学实验室\\#\\SOP"
}