{"fontList":{
        "腾祥金砖黑简":"c:\\windows\\fonts\\腾祥金砖黑简.TTF",
        "汉仪糯米团":"j:\\fonts\\HYNuoMiTuanW.ttf",
        "丁永康硬笔楷书":"j:\\fonts\\2012DingYongKangYingBiKaiShuXinBan-2.ttf",
        "微软雅黑":"i:\\py\\msyh.ttf",
        "鸿蒙印品":"j:\\fonts\\hongMengHei.ttf",
        "优设标题":"j:\\fonts\\yousheTitleHei.ttf",
        "汉仪超级战甲":"j:\\fonts\\HYChaoJiZhanJiaW-2.ttf",
        "汉仪心海行楷w":"j:\\fonts\\HYXinHaiXingKaiW.ttf",
        "华康海报体W12(p)":"j:\\fonts\\HuaKangHaiBaoTiW12-P-1.ttf",
        "汉仪锐智w":"j:\\fonts\\HYRuiZhiW.ttf",
        "杨任东竹石体":"j:\\fonts\\yangrendongzhushi-Regular.ttf",
        "楷体":"C:\\Windows\\Fonts\\simkai.ttf",
        "汉仪字酷堂义山楷w":"j:\\fonts\\HYZiKuTangYiShanKaiW-2.ttf",
        "上首金牛体":"C:\\Users\\jack9\\AppData\\Local\\Microsoft\\Windows\\Fonts\\ShangShouJinNiuTi-2.ttf",
        "方正韵动粗黑简":"C:\\Users\\jack9\\AppData\\Local\\Microsoft\\Windows\\Fonts\\FZYunDongCuHei.ttf"                      
        }
}